/*Sidebar Section*/

section#sidebar {
	width: 238px;
	float: right;
	position: relative;
	display: block;
	background-color: #fff;
	margin: 1.5em 0 3.0em 1.5em;
	padding: 1.7em 0.5em 2.0em 1.7em;
	border-left: #2BA967 solid 5px;
}